@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}

#landingreci {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
  .section{
    padding-top: 180px;
    margin-top: -180px;
    @media(max-width: 500px){
      padding-top: 185px;
      margin-top: -185px;
    }
  }
  .headerreci{
    width: 125%;
    max-width: 1400px;
    @media(max-width: 700px){
      width: 100%;
      margin-bottom: 0px;
    }
    picture{
      width: 100%;
      img{
        width: 100%;
      }
    }
  }
  
  .headertxt {
    p{
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 200;
      font-size: 18px;
      line-height: 1.5;
      text-align: justify;
      color: #000000;
      margin: 4% 0%;
      white-space: break-spaces;
      @media(max-width: 700px){
        font-size: 14px;
      }
    }
  }
  
  #section1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    .titlereci{
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 1.5;
      text-align: center;
      color: #000000;
    }
    .tablebody{
      background-color: #F4F4F4;
      width: 100%;
      padding: 3%;
      position:relative;
      .question{
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        z-index: 1;
        .iconquestion{
          margin-right:30px;
          max-width: 100%;
        }
        p{
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 200;
          font-size: 18px;
          line-height: 1.5;
          text-align: justify;
          color: #000000;

          @media(max-width: 700px){
            font-size: 14px;
          }
        } 
      }
    }   
  }



  span {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }



 



}