@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

#landingreci {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#landingreci .section {
  padding-top: 180px;
  margin-top: -180px;
}

@media (max-width: 500px) {
  #landingreci .section {
    padding-top: 185px;
    margin-top: -185px;
  }
}

#landingreci .headerreci {
  width: 100%;
  max-width: 1400px;
}

@media (max-width: 700px) {
  #landingreci .headerreci {
    width: 100%;
    margin-bottom: 0px;
  }
}

#landingreci .headerreci picture {
  width: 100%;
}

#landingreci .headerreci picture img {
  width: 100%;
}

#landingreci .headertxt p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  color: #000000;
  margin: 4% 2%;
  white-space: break-spaces;
}

@media (max-width: 700px) {
  #landingreci .headertxt p {
    font-size: 14px;
  }
}

#landingreci #section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}

#landingreci #section1 .tablebody {
  background-color: #E9E9E9;
  width: 100%;
  padding: 2.5%;
  position: relative;
}

#landingreci #section1 .tablebody .question {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  z-index: 1;
}

#landingreci #section1 .tablebody .question .iconquestion {
  margin-right: 30px;
  max-width: 100%;
}

#landingreci #section1 .tablebody .question p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  color: #000000;
}

@media (max-width: 700px) {
  #landingreci #section1 .tablebody .question p {
    font-size: 14px;
  }
}

#landingreci #section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}

#landingreci #section2 .containericons1 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
}

#landingreci #section2 .containericons1 picture {
  width: 20%;
}

#landingreci #section2 .containericons1 picture img {
  width: 100%;
}

#landingreci #section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}

#landingreci #section3 .containericons2 {
  display: flex;
  flex-wrap: wrap;
  align-items: space-evenly;
  justify-content: center;
  width: 100%;
}

#landingreci #section3 .containericons2 picture {
  width: 14%;
}

#landingreci #section3 .containericons2 picture img {
  width: 100%;
}

#landingreci #section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}

#landingreci #section4 .containericons3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

#landingreci #section4 .containericons3 picture {
  width: 16%;
}

#landingreci #section4 .containericons3 picture img {
  width: 100%;
}

#landingreci #section5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
}

#landingreci #section5 .listleft {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  margin: 4%;
}

#landingreci #section5 .listleft .tablebody {
  background-color: #E9E9E9;
  width: 100%;
  padding: 6.5%;
  position: relative;
}

#landingreci #section5 .listleft .tablebody ul {
  margin: 5%;
}

#landingreci #section5 .listleft .tablebody ul li {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  color: #000000;
}

@media (max-width: 700px) {
  #landingreci #section5 .listleft .tablebody ul li {
    font-size: 12px;
  }
}

#landingreci #section5 .listright {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  margin: 4%;
}

#landingreci #section5 .listright .tablebody {
  background-color: #E9E9E9;
  width: 100%;
  padding: 6.5%;
  position: relative;
}

#landingreci #section5 .listright .tablebody ul {
  margin: 5%;
}

#landingreci #section5 .listright .tablebody ul li {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  color: #000000;
}

@media (max-width: 700px) {
  #landingreci #section5 .listright .tablebody ul li {
    font-size: 12px;
  }
}

#landingreci #section6 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}

#landingreci #section6 .listfinal {
  margin-top: -50px;
}

#landingreci #section6 .listfinal ul {
  margin: 5%;
}

#landingreci #section6 .listfinal ul li {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 2;
  text-align: left;
  color: #000000;
}

@media (max-width: 700px) {
  #landingreci #section6 .listfinal ul li {
    font-size: 12px;
  }
}

#landingreci span {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

#landingreci .titlereci {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 1.5;
  text-align: center;
  color: #000000;
  margin: 10px 0 20px;
}
/*# sourceMappingURL=main.css.map */